# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
env/
.venv/

# Django
db.sqlite3
*.log
media/

# Environment Variables
.env

# VS Code
.vscode/

# Static files
staticfiles/

# Windows
Thumbs.db